body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdf8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  padding: 10px;
  margin: 10px;
}
h1.head {
  background: #fff;
  border: none;
}
.head span {
  background: black;
  color: #fff;
}

.stackTodos {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

@media screen and (max-width: 732px) {
  .stackTodos {
    display: block;
  }
}

.addItems,
h1 {
  border: 1px solid #dddddd;
}

.addItems h1 {
  border: 1px solid dddddd;
}
.not-completed {
  background-color: #ff3838;
  color: #fff;
}

.addItems input {
  position: relative;
  padding: 5px;
  margin: 5px;
  width: 94%;
  outline: none;
  border: 2px solid black;
}

.todos {
  border: 2px solid #ddd;
}
.todos tr {
  margin: 0 auto;
}

.todos tr:nth-child(even) {
  background: #fff;
}

.head {
  text-align: center;
  background: none;
}

.completed {
  background-color: #39ff7b;
  color: #fff;
}

.hide {
  display: none;
}
table {
  /* border: 2px solid brown; */
  width: 100%;
}
table tr {
  background-color: #fff;
}

table th,
table td {
  border-right: 2px solid #fff;
  padding: 5px;
  margin: 0;
}

table th:last-child {
  border: none;
  /* width: 100px; */
}

button {
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 80px;
  outline: none;
  border: 2px solid #dfdddd;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
.add {
  background: #080808;
  color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100px;
}
.delete {
  cursor: pointer;
  padding: 0 5px;
}
